# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PPJ_EN_PRO_GR25c_s19120_IntelliJ_IDEA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
